<div class="border-end bg-primary" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <img src="../assets/images/undraw_nature_m5ll.svg" alt="" class="img-logo-dashboard">
        Tec. Emergentes
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/create-publications">
            <i class="fas fa-file-medical fa-lg"></i>
            <span class="ms-3">Crear Publicacion</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" >
          <i class="fas fa-file-medical fa-lg"></i>
          <span class="ms-3">Text Editor</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/list-publications">
            <i class="fas fa-file-medical fa-lg"></i>
            <span class="ms-3">Ver Publicaciones</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" href="#!">
            <i class="fas fa-file-medical fa-lg"></i>
            <span class="ms-3">Categorias</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" href="#!">
            <i class="fas fa-file-medical fa-lg"></i>
            <span class="ms-3">Semestres</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" href="#!">
            <i class="fas fa-file-medical fa-lg"></i>
            <span class="ms-3">Perfil de usuario</span>
        </a>
    </div>
</div>