<div class="row d-flex d-flex justify-content-between">
    <div class="w-25">
       <h3>Panel de control</h3>
    </div>
   <nav class="w-25 d-flex justify-content-end" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Library</li>
       </ol>
   </nav>
</div>
<div class="row">
    <div class="col-lg-4">
       <div class="card text-center">
           <div class="card-header">
             Featured
           </div>
           <div class="card-body">
             <h5 class="card-title">Special title treatment</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
           <div class="card-footer text-muted">
             2 days ago
           </div>
         </div>
    </div>
    <div class="col-lg-4">
       <div class="card text-center">
           <div class="card-header">
             Featured
           </div>
           <div class="card-body">
             <h5 class="card-title">Special title treatment</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
           <div class="card-footer text-muted">
             2 days ago
           </div>
         </div>
    </div>
    <div class="col-lg-4">
       <div class="card text-center">
           <div class="card-header">
             Featured
           </div>
           <div class="card-body">
             <h5 class="card-title">Special title treatment</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
           <div class="card-footer text-muted">
             2 days ago
           </div>
         </div>
    </div>
</div>

<div class="p-2 pt-4">
 <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
   <div class="col-md-6 px-0">
     <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
     <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
     <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
   </div>
 </div>

 <div class="row mb-2">
   <div class="col-md-6">
     <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
       <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">World</strong>
         <h3 class="mb-0">Featured post</h3>
         <div class="mb-1 text-muted">Nov 12</div>
         <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
         <a href="#" class="stretched-link">Continue reading</a>
       </div>
       <div class="col-auto d-none d-lg-block">
         <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

       </div>
     </div>
   </div>
   <div class="col-md-6">
     <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
       <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-success">Design</strong>
         <h3 class="mb-0">Post title</h3>
         <div class="mb-1 text-muted">Nov 11</div>
         <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
         <a href="#" class="stretched-link">Continue reading</a>
       </div>
       <div class="col-auto d-none d-lg-block">
         <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

       </div>
     </div>
   </div>
 </div>

 <div class="row g-5">
   <div class="col-md-8">
     <h3 class="pb-4 mb-4 fst-italic border-bottom">
       From the Firehose
     </h3>

     <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <div class="col">
         <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/1366_521.jpg" alt="">

           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/1366_521.jpg" alt="">
           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/1366_521.jpg" alt="">

           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
           
           <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
             <source src="../assets/videos/video.mp4" type="video/mp4">
           </video>

           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
           <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
             <source src="../assets/videos/video1.mp4" type="video/mp4">
           </video>

           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
           <div class="bd-placeholder-img card-img-top d-flex justify-content-center align-items-end" style="width:100%;height:225px;background-image: url(../assets/images/imgdragon.jpeg);">
             <audio class="mb-2" controls>
               <source src="../assets/audios/01 Radioactive.mp3" type="audio/mp3">
             </audio>
           </div>
           

           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div>
       <!-- <div class="col">
         <div class="card shadow-sm">
           <iframe class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.youtube.com/embed/aclyuqS1MmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
             <h5 class="card-title">Titulo</h5>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                 <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
               </div>
               <small class="text-muted">9 mins</small>
             </div>
           </div>
         </div>
       </div> -->
     </div>
   </div>

   <div class="col-md-4">
     <div class="position-sticky" style="top: 2rem;">
       <div class="p-4 mb-3 bg-light rounded">
         <h4 class="fst-italic">About</h4>
         <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
       </div>

       <div class="p-4">
         <h4 class="fst-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
           <li><a href="#">March 2021</a></li>
           <li><a href="#">February 2021</a></li>
           <li><a href="#">January 2021</a></li>
           <li><a href="#">December 2020</a></li>
           <li><a href="#">November 2020</a></li>
           <li><a href="#">October 2020</a></li>
           <li><a href="#">September 2020</a></li>
           <li><a href="#">August 2020</a></li>
           <li><a href="#">July 2020</a></li>
           <li><a href="#">June 2020</a></li>
           <li><a href="#">May 2020</a></li>
           <li><a href="#">April 2020</a></li>
         </ol>
       </div>

       <div class="p-4">
         <h4 class="fst-italic">Elsewhere</h4>
         <ol class="list-unstyled">
           <li><a href="#">GitHub</a></li>
           <li><a href="#">Twitter</a></li>
           <li><a href="#">Facebook</a></li>
         </ol>
       </div>
     </div>
   </div>
 </div>

</div>