
<section>
    <div class="row g-0 h-100">
        <div class="col-lg-6 d-flex">
        <div class="content mx-auto align-self-center px-4 my-5">
            <small class="d-block text-primary mb-3">
            <span class="badge bg-primary">Nuevo</span> Blade Liger
            </small>
            <h1 class="display-4 fw-bold mb-3">El nuevo sistema para el 2021 semestre 2</h1>
            <p class="lead mb-5">Este sistema sera realizado con angular y Go ya que son Tecnologias Emergentes</p>
            <a href="#" class="btn btn-primary mb-5">Iniciamos Hoy</a>

            <div class="d-flex">
            <div class="d-flex me-4">
                <i class="fas fa-address-card fa-3x me-3"></i>
                <div>
                <small>Semestre Anterior</small>
                <p>2021/1</p>
                </div>
            </div>
            <div class="d-flex mx-auto">
                <i class="fas fa-address-card fa-3x me-3"></i>
                <div>
                <small>Semestre Actual</small>
                <p>2021/2</p>
                </div>
            </div>
            </div>

        </div>
        </div>
        <div class="col-lg-6 d-flex bg-header">
        <div class="content mx-auto align-self-center content-img">
            <img src="/assets/images/developer.svg" alt="" class="img-fluid">
        </div>
        </div>
    </div>
    <div class="position-relative">
        <svg style="position: absolute; bottom:0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#355070" fill-opacity="1" d="M0,288L40,261.3C80,235,160,181,240,170.7C320,160,400,192,480,218.7C560,245,640,267,720,250.7C800,235,880,181,960,181.3C1040,181,1120,235,1200,234.7C1280,235,1360,181,1400,154.7L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    </div>
</section>
    
<section>
<div class="position-relative">
    <svg style="position: absolute; top:0"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#355070" fill-opacity="1" d="M0,96L60,112C120,128,240,160,360,154.7C480,149,600,107,720,96C840,85,960,107,1080,122.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
</div>
    <div class="d-flex h-100" >
    <div class="container align-self-center p-container-m">
    <div class="row mt-5">
        <div class="col-lg-6 d-flex" data-aos="fade-right" data-aos-delay="300">
        <div class="content mx-auto px-4 my-5 align-self-center">
            <img src="/assets/images/undraw_programming_2svr.svg" alt="" class="img-fluid">
        </div>
        </div>
        <div class="col-lg-6 d-flex" data-aos="fade-left" data-aos-delay="300">
            <div class="align-self-center my-5 px-4">
            <h1 class="display-4 fw-bold mb-5">Lorem ipsum dolor sit, amet </h1>
            <ul class="list-unstyled">
                <li class="d-flex mb-4">
                <p class="text-primary lead fw-bold list-subject">1</p>
                <div class="ms-3">
                    <p class="lead fw-bold">Html, Css3, Javascript</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, atque.</p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <p class="text-primary lead fw-bold list-subject">2</p>
                <div class="ms-3">
                    <p class="lead fw-bold">Fronted Angular</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, atque.</p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <p class="text-primary lead fw-bold list-subject">3</p>
                <div class="ms-3">
                    <p class="lead fw-bold">Backend Go.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, atque.</p>
                </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
    </div>
</div>
</section>
    
<section class="d-flex py-5 section-600 bg-section-1">
    <div class="container" data-aos="fade-up" data-aos-delay="300">
        <div class="info-content bg-color-p1 text-light">
            <div class="row">
                <div class="col-lg-7 d-flex">
                    <div class="p-5 align-self-center">
                        <h2 class="display-4 fw-bold mb-4">Las nuevas tecnologias son tendencia</h2>
                        <p class="lead">Si no aprendes nuevas tecnologias puedes quedarte estancado en un limbo</p>
                        <a href="" class="btn btn-primary">Obten mas informacion</a>
                    </div>
                </div>
                <div class="col-lg-5 d-flex">
                    <div class="align-self-center mx-auto p-5">
                    <img src="/assets/images/undraw_Development_re_g5hq.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="d-flex py-5 mb-5 bg-section-2">
    <div class="container align-self-center">  
        <h2 class="display-4 py-4">Nuevas tecnologias</h2>
        <p class="lead mb-5">Comienza a estudiar las nuevas tendencias</p>

        <div class="row publications">
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/undraw_develop_app_re_bi4i.svg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                    <p class="flex-grow-1 text-dark mb-0">10 de septiembre 2021</p>
                    <p class="text-dark mb-0">React.js</p>
                    </div>
                    <p class="lead text-dark fw-bold mb-4">Si deseas estudiar esta nueva tecnologia ingresa a clase de sis-414</p>
                    <p class="text-primary fw-bold">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/undraw_flutter_dev_wvqj.svg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                    <p class="flex-grow-1 text-dark mb-0">10 de septiembre 2021</p>
                    <p class="text-dark mb-0">React.js</p>
                    </div>
                    <p class="lead text-dark fw-bold mb-4">Si deseas estudiar esta nueva tecnologia ingresa a clase de sis-414</p>
                    <p class="text-primary fw-bold">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
            <div class="col-lg-4 py-4"  data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/undraw_react_y7wq.svg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                    <p class="flex-grow-1 text-dark mb-0">10 de septiembre 2021</p>
                    <p class="text-dark mb-0">React.js</p>
                    </div>
                    <p class="lead text-dark fw-bold mb-4">Si deseas estudiar esta nueva tecnologia ingresa a clase de sis-414</p>
                    <p class="text-primary fw-bold">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
        </div>
    </div>
</section>
