<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom navbar-dashboard bg-primary text-light">
    <div class="container-fluid">
        
        <i class="fas fa-bars" id="sidebarToggle" (click)="openCloseSidebar()"></i>
        <button class="navbar-toggler text-light border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-caret-square-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#!">Principal</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        <span class="ms-1">Usuario</span> 
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!">Perfil de usuario</a>
                        <a class="dropdown-item" href="#!">Configuraciones</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">Cerrar Sesion</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>