<section class="d-flex pt-5 pb-5 h-100">
    <div class="container align-self-center p-container-m" data-aos="fade-up" data-aos-delay="300">
        <div class="bg-primary text-light text-center p-5 rounded mx-auto mt-5 w-75 mb-5">
            <h2 class="display-4 fw-bold">Lorem, ipsum dolor.</h2>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, maiores.</p>
            <div class="mx-auto my-form position-relative d-none d-md-block">
                <input type="text" class="form-control mb-3" placeholder="Correo electronico">
                <button type="button" class="btn btn-primary position-absolute">Registrate ya</button>
            </div>
            <div class="d-md-none">
                <input type="text" class="form-control mb-3" placeholder="Correo electronico">
                <button type="button" class="btn btn-primary w-100">Registrate ya</button>
            </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-3 col-sm-6 my-4 my-text">
              <h5 class="fw-bold mb-3">Tecnologias 2021/2</h5>
              <ul class="list-unstyled">
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Html, Css3, Javascript</a> </li>
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Angular.js</a> </li>
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Go. developer</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-6 my-4 my-text">
              <h5 class="fw-bold mb-3">Tecnologias 2021/1</h5>
              <ul class="list-unstyled">
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Html, Css3, Javascript</a> </li>
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">React.js</a> </li>
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Meteor.js</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-6 my-4 my-text">
              <h5 class="fw-bold mb-3">Tecnologias 2020/2</h5>
              <ul class="list-unstyled">
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Html, Css3, Javascript</a> </li>
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Vue.js</a> </li>
                  <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Laravel PHP</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-6 my-4 my-text">
              <h5 class="fw-bold mb-3">Informacion</h5>
              <ul class="list-unstyled">
                  <li class="mb-3">Redes Sociales</li>
                  <li>
                      <ul class="list-inline">
                         <li class="list-inline-item me-3"><a href="" class="lead text-dark"><i class="fab fa-facebook"></i></a></li>
                         <li class="list-inline-item me-3"><a href="" class="lead text-dark"><i class="fab fa-whatsapp"></i></a></li>
                         <li class="list-inline-item me-3"><a href="" class="lead text-dark"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                  </li>
              </ul>
          </div>
        </div>

        <div class="border-top py-4">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <small>2021 Tecnologias Emergentes Licencia MIT</small>
                </div>
                <div class="col-lg-6 col-md-12">
                      <ul class="list-inline text-lg-end">
                          <li class="list-inline-tem">
                            <a href="" class="text-dark text-decoration-none"><small>Lorem ipsum dolor sit amet.</small></a>
                            <a href="" class="text-dark text-decoration-none"><small>Lorem ipsum dolor sit amet.</small></a>
                          </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</section>